#sidebar {    
    font-family: 'Lobster', cursive;
    background-color: lightslategray;
    border-right: groove;
    border-color: firebrick;
}

#body {
    font-family: 'Slabo 27px', serif;
    background-color: lightgray;
}

#contact {
    font-family: 'Abril Fatface', cursive;
}

#sidebar img {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

#email {
    margin-left: 15px;
}

.modal-content {
    background-color: whitesmoke;
}

#aboutMeHeading {
    margin-top: 10px;
}

#aboutMeSection {
    margin: 5px;
    padding: 5px;
    background-color: white;
}

#aboutMePicture {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    height: 350px;
    width: 250px;
}

#projectHeading {
    margin-top: 10px;
}


/*
font-family: 'Slabo 27px', serif;
font-family: 'Lobster', cursive;
font-family: 'Abril Fatface', cursive;
*/